# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 1.5
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
codecov: true
addons:
  apt:
    packages:
      - ant
before_script:
  - git clone --depth 1 -b repeated_measures https://github.com/beast-dev/beast-mcmc.git
  - cd beast-mcmc
  - ant dist
  - BEAST_HOME=$(pwd)
  - cd ..
  - java -version
  - java -jar $BEAST_HOME/build/dist/beast.jar -version
